.App {
  text-align: center;
}

header{
  width: auto;
  display: flex;
  margin-top: 2%;
}

nav{
  margin-left: auto;
  margin-right: 20px;
  font-size: 30px;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 20px;

  /* text outline */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

footer{
  margin-top: 100px;
}

h1{
  /* text outline */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
}

body{
  /* background image and colour */
  background-image: url('img/smoke3.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(0, 0, 0);

  /* text */
  color: white;
}

#root{
  margin-left: 5%;
}

#logo{
  height: 10vh;
}

.album_cover {
  height: 40vh;

  /* Hide button */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.album_cover img{
  height: 40vh;
  border: 2px solid white;
}

.album_title {
  font-size: 35px;
}

.album_song_list{
  list-style-type: none;
}

li{
  text-decoration: underline rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

li:hover{
  cursor: pointer;
}

.album{
  width: 80vw;
  margin-top: 5%;
  margin-right: auto;
  justify-self: center;
}

.album div{
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 80%;
  border-radius: 5%;
  max-width: 70vw;
  min-width: 45vw;
  
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  max-width: 55vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
